@import "tailwindcss";


@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-thin-100.otf") format("opentype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-light-300.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-regular-400.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-medium-500.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-bold-700.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-extrabold-800.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  src: url("/fonts/denton/denton-test-black-900.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "WFVisualSans";
  src: url("/fonts/wf-visual-sans/wf-visualSans-vf.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-visual: "WFVisualSans", sans-serif;
  --font-denton: "Denton", serif;
  --breakpoint-small: 1081px;
  --breakpoint-medium: 1231px;
  --breakpoint-base: 1431px;
  --breakpoint-large: 1751px;
}





